.dashboard {
    padding: 0px 0px 50px;
    overflow: hidden;
    text-align: center;
}
.dashboard h1 {
    text-align: center;
}

.dashboard .dashboard_content {
    display: inline-block;
    width: 200px;
    height: 200px;
    margin: 0 50px 50px;
    border: 6px solid #9C6615;
    text-align: center;
    padding: 30px 20px 0px;
    border-radius: 30px;
    vertical-align: top;
}

.dashboard_content:hover {
    cursor: pointer;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.dashboard .first_element {
    margin-left: 0px;
}
.dashboard .third_element {
    margin-right: 0px;
}
.dashboard .dashboard_content img {
    max-width: 130px;
    margin-bottom: 30px;
}
.dashboard .dashboard_content span {
    display: block;
    font-family: "Permanent Marker";
    font-size: 30px;
}


/* Media Quries for small devices*/

@media screen and (max-width: 1024px) {
    .dashboard .dashboard_content {
        margin: 0 25px 50px;
    }
}

@media screen and (min-width: 870px) {
    .dashboard .first_element {
        margin-left: 0px;
    }
    .dashboard .third_element {
        margin-right: 0px;
    }
}

@media screen and (max-width: 450px) {
  .dashboard .dashboard_content{
    width: 80%;
    margin: 0 0 30px;
    padding: 30px 20px;
    height: auto;
  }

}